include hfst_extensions.cpp
include hfst_file_extensions.cpp
include hfst_lexc_extensions.cpp
include hfst_lookup_extensions.cpp
include hfst_pmatch_extensions.cpp
include hfst_prolog_extensions.cpp
include hfst_regex_extensions.cpp
include hfst_rules_extensions.cpp
include hfst_xfst_extensions.cpp
include hfst_sfst_extensions.cpp
include docstrings.i
include libhfst/src/*.h
include libhfst/src/implementations/*.h
include libhfst/src/implementations/optimized-lookup/*.h
include libhfst/src/implementations/compose_intersect/*.h
include libhfst/src/parsers/*.h
include libhfst/src/parsers/*.hh
include libhfst/src/parsers/alphabet_src/*.h
include libhfst/src/parsers/io_src/*.h
include libhfst/src/parsers/rule_src/*.h
include libhfst/src/parsers/string_src/*.h
include libhfst/src/parsers/variable_src/*.h
include back-ends/foma/*.h
include back-ends/openfst/src/include/fst/*.h
include config.h
include setup.cfg
include COPYING
include README.rst
